*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color:blanchedalmond;
}
.parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.box{
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    height: 450px;
    width: 400px;
    padding: 10px;
}

.dbox{
    border: 1px solid white;
    border-radius: 10px;
}
.static{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


.dark{
    background-color: black;
    color: white;
}

.common{
    padding: 10px;
}

button{
    width: 100%;
    margin: 10px;
    background-color: sandybrown;
    border-radius: 10px;
}



